{% extends 'flask55.html'%}
{% block title %}
Formula_zvyka.nvrsk
{% endblock %}

{% block text %} 

<div class="container">
    <main class="form-signin w-100 m-auto">
      <form method="post">
        <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal"><ya-tr-span data-index="4-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Please sign in" data-translation="Пожалуйста, войдите" data-ch="0" data-type="trSpan">Пожалуйста, войдите</ya-tr-span></h1>
    
        <div class="form-floating">
          <input type="login" class="form-control" id="Name_user" name="Name_user" placeholder="Имя">
          <label for="floatingInput"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Email address" data-translation="Эл. адрес" data-ch="0" data-type="trSpan">Имя</ya-tr-span></label>
        </div>
        <div class="form-floating">
          <input type="login" class="form-control" id="Surname" name="Surname" placeholder="Фамилия">
          <label for="floatingInput"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Email address" data-translation="Эл. адрес" data-ch="0" data-type="trSpan">Фамилия</ya-tr-span></label>
        </div>
        <div class="form-floating">
          <input type="login" class="form-control" id="Nomer" name="Nomer" placeholder="Номер">
          <label for="floatingInput"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Email address" data-translation="Эл. адрес" data-ch="0" data-type="trSpan">Номер</ya-tr-span></label>
        </div>

        <div class="form-floating">
          <input type="email" class="form-control" id="Email" name="Email" placeholder="name@example.com">
          <label for="floatingInput"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Email address" data-translation="Эл. адрес" data-ch="0" data-type="trSpan">Эл. адрес</ya-tr-span></label>
        </div>
        <div class="form-floating">
            <input type="login" class="form-control" id="Login" name="Login" placeholder="Логин">
            <label for="floatingPassword">Логин</label>
          </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="Password" name="Password" placeholder="Пароль">
          <label for="floatingPassword">Пароль</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="Password_two" name="Password_two" placeholder="повторить Пароль">
            <label for="floatingPassword">Повторите пароль</label>
          </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"><ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Remember me " data-translation=" Запомнить меня " data-ch="0" data-type="trSpan"> Запомнить меня  </ya-tr-span></label>
        </div>
    
        <input class="w-100 btn btn-primary btn-lg" type="submit"><ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Sign in" data-translation="Вход" data-ch="0" data-type="trSpan">Вход</ya-tr-span></button>
        <p class="mt-5 mb-3 text-body-secondary"><ya-tr-span data-index="8-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="© 2017–2023" data-translation="© 2017–2023" data-ch="0" data-type="trSpan">© 2017–2023</ya-tr-span></p>
      </form>
    </main>
  </div>


{% endblock %} 